<section class="horizontal-form">
  <div class="container-fluid">

    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr"><span>{{driverOptionsTitle}}</span></div>


    {{#accordion-list showExpandAll=false as | al expandFn | }}
      {{#accordion-list-item 
        title="1. Account Access"
        detail="Configure to connect to the Nutanix Prism Element Instance"
        expandOnInit=true
        expand=(action expandFn)
      }}

      <div class="row inline-form">        
        <div class="col span-2 col-inline">
          <label class="acc-label">Endpoint</label>
        </div>
        <div class="col span-10">
          {{ input type="text" class="form-control" value=model.%%DRIVERNAME%%Config.endpoint placeholder="ip/fqdn:port"}}
        </div>
      </div>

      <div class="row inline-form">        
        <div class="col span-2 col-inline">
          <label class="acc-label">Username</label>
        </div>
        <div class="col span-10">
          {{ input type="text" class="form-control" value=model.%%DRIVERNAME%%Config.username placeholder="username"}}
        </div>
      </div>

      <div class="row inline-form">        
        <div class="col span-2 col-inline">
          <label class="acc-label">Password</label>
        </div>
        <div class="col span-10">
          {{ input type="password" class="form-control" value=model.%%DRIVERNAME%%Config.password placeholder="password"}}
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Account provided need to have Cluster Admin role</p>
      </div>

      {{/accordion-list-item}}

      {{#accordion-list-item 
        title="2. Instance Options"
        detail="Choose the size and OS of the virtual machine"
        expandOnInit=true
        expand=(action expandFn)
      }}

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">vCPU(s)</label>
          {{input-integer
             min=1 
             max=32
             class="form-control" 
             value=model.%%DRIVERNAME%%Config.vmCpus
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">Number Of Cores Per vCPU</label>
          {{input-integer
            min=1
            max=8
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmCores
          }}
        </div>
      </div>

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Memory</label>
          <div class="input-group">
            {{input-integer class="form-control" value=model.%%DRIVERNAME%%Config.vmMem }}
            <div class="input-group-addon bg-default">MiB</div>
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">Disk</label>
          <div class="input-group">
            {{input-integer class="form-control" value=model.%%DRIVERNAME%%Config.disk }}
            <div class="input-group-addon bg-default">GB</div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col span-12">
          <label class="acc-label">Disk Image</label>
          {{input type="text" class="form-control" value=model.%%DRIVERNAME%%Config.vmImage }}
          <p class="help-block">
            Name of the template to use from image library
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col span-12">
          <label class="acc-label">Network</label>
          {{input type="text" class="form-control" value=model.%%DRIVERNAME%%Config.vmNetwork }}
          <p class="help-block">
            Name of the network to connect VM 
          </p>
          <div></div>
        </div>
      </div>


      {{/accordion-list-item}}


    {{/accordion-list}}

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}

    {{!-- This component shows errors produced by validate() in the component --}}
    {{top-errors errors=errors}}

    {{!-- This component shows the Create and Cancel buttons --}}
    {{save-cancel save="save" cancel=(action "cancel")}}
  </div>
</section>